* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  display: inline-block;
}

a:focus,
a:active {
  outline: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

nav,
footer,
header,
aside {
  display: block;
}

img {
  display: block;
}

.flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"), url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"), url("../fonts/poppins-v20-latin-500.ttf") format("truetype"), url("../fonts/poppins-v20-latin-500.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff"), url("../fonts/poppins-v20-latin-600.ttf") format("truetype"), url("../fonts/poppins-v20-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"), url("../fonts/poppins-v20-latin-700.ttf") format("truetype"), url("../fonts/poppins-v20-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v20-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-800.woff2") format("woff2"), url("../fonts/poppins-v20-latin-800.woff") format("woff"), url("../fonts/poppins-v20-latin-800.ttf") format("truetype"), url("../fonts/poppins-v20-latin-800.svg#Poppins") format("svg"); /* Legacy iOS */
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  z-index: 9999999;
  width: 100%;
  background-color: white;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 0;
}
.header-content__logo-link {
  width: 150px;
  transition: linear 0.3s;
}
.header-content__logo-link:hover {
  transform: scale(1.04);
}
.header-content__logo-link:active {
  opacity: 0.8;
}
.header-content__logo {
  width: 100%;
}
.header-content__link-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header-content__link {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: inherit;
  text-transform: none;
  color: #222222;
  transition: linear 0.2s;
}
.header-content__link:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #4d8291;
  transition: linear 0.3s;
}
.header-content__link:hover:after {
  width: 100%;
}
.header-content .darkmode-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 10px 25px;
  box-shadow: 0 0 1px 1px lightgray;
  border-radius: 10px;
  cursor: pointer;
}
.header-content .darkmode-btn img {
  width: 25px;
  height: 25px;
}
.header-content__contact-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: linear 0.3s;
}
.header-content__contact-btn:hover {
  transform: scale(1.04);
}
.header-content__contact-btn:active {
  opacity: 0.8;
}
.header-content__contact-btn__content {
  font-size: 16px;
  font-weight: 600;
  line-height: inherit;
  text-transform: none;
  color: #4d8291;
}
.header-content__contact-telegram-img {
  width: 30px;
  height: 30px;
}

.hero-page {
  background: url(../assets/images/heropage__bg.webp) no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-page__content {
  padding: 225px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.hero-page__title-block {
  max-width: 585px;
}
.hero-page__main-title {
  font-size: 75px;
  font-weight: 800;
  line-height: inherit;
  text-transform: none;
  color: #222222;
  margin-bottom: 25px;
}
.hero-page__main-subtitle {
  max-width: 560px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: none;
  color: #222222;
}

.search-block {
  margin-top: 50px;
  margin-bottom: 50px;
}
.search-block__content {
  padding: 15px;
  border-radius: 10px;
  transition: linear 0.3s;
  cursor: pointer;
}
.search-block__content:hover {
  box-shadow: 0 0 2px 2px #4d8291;
}
.search-block__logo {
  max-width: 120px;
  width: 100%;
  margin-bottom: 20px;
}
.search-block__link-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.search-block__list-item {
  flex-grow: 1;
}
.search-block__list-link {
  width: 100%;
  padding: 15px 20px;
  border: 2px solid rgba(34, 34, 34, 0.5019607843);
  border-radius: 5px;
  transition: linear 0.3s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.search-block__list-link img {
  width: 20px;
}
.search-block__list-link span {
  font-size: 16px;
  font-weight: 600;
  line-height: inherit;
  text-transform: none;
  color: #222222;
  flex-grow: 1;
}
.search-block__list-link:hover {
  border: 2px solid #222222;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}

.cinema-sliders {
  margin-bottom: 100px;
}
.cinema-sliders .slider-content {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 20px;
}
.cinema-sliders .slider-content__title {
  font-size: 30px;
  font-weight: 700;
  line-height: inherit;
  text-transform: none;
  color: #4d8291;
  margin-bottom: 15px;
}
.cinema-sliders .slider-content .splide__list {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.cinema-sliders .slider-content .splide__slide {
  position: relative;
  width: calc(33.3333333333% - 15px);
  min-height: 250px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.cinema-sliders .slider-content .splide__slide .img_box {
  width: 100%;
}
.cinema-sliders .slider-content .splide__slide img {
  transition: linear 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cinema-sliders .slider-content .splide__slide:hover .img_box img {
  scale: 1.2;
}
.cinema-sliders .slider-content .card__content {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: column;
  padding: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.cinema-sliders .slider-content .card__content .card__title {
  font-size: 30px;
  font-weight: 600;
  line-height: inherit;
  text-transform: none;
  color: white;
}
.cinema-sliders .slider-content .card__content .card__genre {
  font-size: 20px;
  font-weight: 600;
  line-height: inherit;
  text-transform: none;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}

.objects-architectures__content {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 30px;
}
.objects-architectures__objects {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 30px;
}
.objects-architectures__top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.objects-architectures__title {
  font-size: 25px;
  font-weight: 800;
  line-height: inherit;
  text-transform: none;
  color: #222222;
}
.objects-architectures__btn {
  padding: 10px 25px;
  background-color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: inherit;
  text-transform: none;
  color: #222222;
}
.objects-architectures__object-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 20px;
  flex-wrap: wrap;
}
.objects-architectures__object-item {
  flex-basis: 24%;
  min-height: 400px;
  position: relative;
  box-shadow: 0 0 1px 1px lightgray;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.objects-architectures__imgbox {
  width: 100%;
  height: 300px;
}
.objects-architectures__imgbox img {
  width: 100%;
  height: 100%;
}
.objects-architectures__heart-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 1px 0.5px #222222;
  cursor: pointer;
}
.objects-architectures__heart-circle svg {
  width: 20px;
  fill: white;
}
.objects-architectures__card-content {
  padding-left: 15px;
  padding-top: 15px;
}
.objects-architectures__card-content-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 800;
  line-height: inherit;
  text-transform: none;
  color: #222222;
}/*# sourceMappingURL=mainStyle.css.map */