@use '../mixins.scss';
@use '../globalStyles.scss';


.slider-content{
    & .slider-content{
        @include mixins.flex($direction: column, $rGap: 20);
    }
    &__title{
        @include mixins.font(30, 700, inherit, none, globalStyles.$main-color);
        margin-bottom: 15px;
    }

    & .splide__slide{
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        & img{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    & .card__content{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 25px;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        & .card__title{
            @include mixins.font(30, 600, inherit, none, white);
        }
        & .card__genre{
            @include mixins.font(20, 600, inherit, none, white);
        }
    
    }
}

